  @font-face {
    font-family: "Kanit";
    src: url("/assets/fonts/Kanit/Kanit-Regular.ttf");
  }

  html, body {
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Kanit' !important;
  }

  * {
    box-sizing: border-box;
  }

  input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .btn-warning.disabled, .btn-warning:disabled {
    background-color: #ffdf7f;
    border-color: #ffffff;
  }

  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #ced4da;
    border-radius: 0;
    transition: border-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  }

  .form-login, .form-register, .form-post {
    width: 100%;
    padding-bottom: 2rem;
  }

  .page-error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 90vh;
    padding: 10rem 2rem;
  }

  .btn {
    padding: 0.375rem 0.75rem;
    margin-bottom: 0.75rem;
  }

  .btn-block {
    display: block;
    width: 100%;
  }

  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    line-height: 1.5;
    border-radius: 0;
  }

  .btn-warning {
    color: #fff;
    background-color: #ffc107;
    border-top: 0;
    border-left: 0;
    border-color: #ffc107;
  }

  .home {
    overflow-x: hidden;
  }

  #__next {
    position: relative;
    overflow-x: hidden;
    z-index: 0;
  }

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .container {
    width: 100%;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headline {
    text-transform: capitalize;
    position: relative;
    color: #333333;
  }

  .headline::before {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    height: 3px;
    width: 20%;
    background-color: #cdcdcd;
  }

  main.content-detail {
    margin-top: 3rem;
    text-align: left;
    display: inline-block;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }

  main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer img {
    margin-left: 0.5rem;
  }

  footer a {
    display: block;
  }

  .account {
    margin-bottom: 1.5rem;
  }

  .account a {
    color: #0070f3;
    text-decoration: underline;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  .account a:hover {
    text-decoration: none;
  }

  .footer-main {
    background-color: white;
  }

  .form-login {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  span {
    font-size: 0.82rem;
  }

  .title a, .sub-title a {
    color: #0070f3;
    text-decoration: none;
  }

  .title a:hover, .title a:focus, .title a:active, .sub-title a:hover, .sub-title a:focus, .sub-title a:active {
    text-decoration: underline;
    text-decoration: none;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 3.5rem;
  }

  .title, .description {
    text-align: center;
  }

  .description {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .card {
    position: relative;
    overflow: hidden;
    margin: 1rem;
    flex-basis: 100%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    background: white;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease, box-shadow 0.5s ease;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .card:hover, .card:focus, .card:active {
    color: #0070f3;
    border-color: #0070f3;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
  }

  .card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }

  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .card span small {
    display: block;
  }

  .logo {
    height: 1em;
  }

  .warning {
    color: #990000;
  }

  .text-center {
    text-align: center;
  }

  /* // Extra small devices (portrait phones, less than 576px) */

  @media (max-width: 575.98px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }

  /* // Small devices (landscape phones, 576px and up) */

  @media (min-width: 576px) and (max-width: 767.98px) {}

  /* // Medium devices (tablets, 768px and up) */

  @media (min-width: 768px) and (max-width: 991.98px) {}

  /* // Large devices (desktops, 992px and up) */

  @media (min-width: 992px) and (max-width: 1199.98px) {}

  /* // Extra large devices (large desktops, 1200px and up) */

  @media (min-width: 1200px) {}

  @media (min-width: 1536px) {
    .container {
      max-width: 100% !important;
    }
  }

  .content {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .ant-input:focus, .ant-input-focused {
    border-color: #059669 !important;
    box-shadow: none !important;
  }

  .ant-input:hover {
    border-color: #059669 !important;
  }

  span.text-custom-white {
    color: #fff !important;
  }

  .ant-menu-item-selected {
    color: #059669 !important;
  }

  .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid#059669 !important;
  }

  .ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
    color: #059669 !important;
  }

  a.file-attach:before {
    content: "\f0c6";
    font-family: FontAwesome;
    display: inline-block;
    /* margin-left: -1.3em; */
    /* width: 1.3em; */
    color: #757575;
    margin-right: 5px;
    font-weight: 500;
    font-size: 1rem;
}

.jodit-wysiwyg{
  /* min-height: 700px !important; */
}